extends layout

block title
  | Maison

block content
  div.gridster
    ul
      li(data-row='1', data-col='1', data-sizex='4', data-sizey='2')
        div(data-id='welcome', data-view='Text', data-title='Hello', data-text='This is your shiny new dashboard.', data-moreinfo='Protip: You can drag the widgets around!')
      li(data-row='1', data-col='1', data-sizex='2', data-sizey='2')
        div(data-id='temperatureList', data-view='listColored', data-unordered='true', data-title='Temperature', data-moreinfo='')
      li(data-row='1', data-col='1', data-sizex='2', data-sizey='2')
        div(data-id='humidityList', data-view='listColored', data-title='Humidité', data-unordered="true", data-moreinfo="", data-cool="0", data-warm="5")
      li(data-row='1', data-col='1', data-sizex='2', data-sizey='2')
        div(data-id='valuation', data-view='Number', data-title='Current Valuation', data-moreinfo='In billions', data-prefix='$')
      li(data-row='1', data-col='1', data-sizex='2', data-sizey='1')
        div(data-id='outsideText', data-view='Text', data-title='Extérieur', data-text='', data-moreinfo='mbara')
      li(data-row='1', data-col='1', data-sizex='1', data-sizey='1')
        div(data-id='temperatureOutside', data-view='Meter', data-title='Extérieur', data-min='-10', data-max='40', data-suffix='°C')
      li(data-row='1', data-col='1', data-sizex='1', data-sizey='1')
        div(data-id='humidityOutside', data-view='Meter', data-title='Extérieur', data-min='0', data-max='100', data-suffix=' %')
      li(data-row='1', data-col='1', data-sizex='2', data-sizey='2')
        div(data-id='batteryList', data-view='listColored', data-title='Batterie', data-unordered="true", data-moreinfo="", data-cool="0", data-warm="5")
      li(data-row='1', data-col='1', data-sizex='2', data-sizey='2')
        div(data-id='rssiList', data-view='listColored', data-title='RSSI', data-unordered="true", data-moreinfo="", data-cool="0", data-warm="5")
    center
      div(style='font-size: 12px') Try this: curl -d '{ "auth_token": "YOUR_AUTH_TOKEN", "text": "Hey, Look what I can do!" }' -H "Content-Type: application/json" http://#{request.header('host')}/widgets/welcome


  script(type="text/javascript").
     $(function() { Dashing.gridsterLayout('[{"col":1,"row":1,"size_x":4,"size_y":2},{"col":5,"row":1,"size_x":2,"size_y":2},{"col":7,"row":1,"size_x":2,"size_y":2},{"col":7,"row":3,"size_x":2,"size_y":2},{"col":1,"row":3,"size_x":2,"size_y":1},{"col":1,"row":4,"size_x":1,"size_y":1},{"col":2,"row":4,"size_x":1,"size_y":1},{"col":5,"row":3,"size_x":2,"size_y":2},{"col":3,"row":3,"size_x":2,"size_y":2}]') })

