# Exlude some files
.DS_Store

# Exclude modules install directory
Dashing/node_modules/

# Exclude Node-Red backup files
NodeRed_Flow/*.backup

# Exclude Dahing output log
Dashing/out.log

# Exclude Node-Red flow
NoteRF_flow.json
