// ----------------------------------------------------------------------------
// Mixins
// ----------------------------------------------------------------------------
@mixin transition($transition-property, $transition-time, $method) {
  -webkit-transition: $transition-property $transition-time $method;
  -moz-transition: $transition-property $transition-time $method;
  -o-transition: $transition-property $transition-time $method;
  transition: $transition-property $transition-time $method;
}
 
// ----------------------------------------------------------------------------
// Sass declarations
// ----------------------------------------------------------------------------
$background-color:  #12b0c5;
$value-color:       #fff;
 
$title-color:       rgba(255, 255, 255, 0.7);
$label-color:       rgba(255, 255, 255, 0.7);
$moreinfo-color:    rgba(2, 2, 2, 0.6);
 
// ----------------------------------------------------------------------------
// Widget-list styles
// ----------------------------------------------------------------------------
.widget-list-colored {
 
  background-color: $background-color;
  vertical-align: top !important;
  @include transition(background-color, 0.5s, linear);
 
  .title {
    color: $title-color;
  }
 
  ol, ul {
    margin: 0 15px;
    text-align: left;
    color: $label-color;
  }
 
  ol {
    list-style-position: inside;
  }
 
  li {
    margin-bottom: 5px;
  }
 
  .list-nostyle {
    list-style: none;
  }
 
  .label {
    color: $label-color;
  }
 
  .value {
    float: right;
    margin-left: 12px;
    font-weight: 600;
    color: $value-color;
  }
 
  .updated-at {
    color: rgba(0, 0, 0, 0.3);
  }
 
  .more-info {
    color: $moreinfo-color;
  }
 
}
 
.hotness0 { background-color: #00C176; }
.hotness1 { background-color: #88C100; }
.hotness2 { background-color: #FABE28; }
.hotness3 { background-color: #FF8A00; }
.hotness4 { background-color: #FF003C; }

